# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
build.py

# IDEs
.vscode/
.idea/

# Virtual Environments
venv/
env/
.venv/
.env/

# Project specific caches and dynamic directories
logs/
temp/
src/test/
error/
cpp/

# Ignore local configuration overrides
config/settings.json

# PyInstaller
build/
dist/
*.spec
